// Highlight.js custom theme
// Follow guidelines
// 1. Uncomment the block just below - remove `/*` and `*/`
// 2. Fill `background`, `color`, `border-right-color` properties
// with properties of `.hljs` CSS class of your theme
// 3. Put your theme where it's indicated just below
// 4. Remove `.hljs {...}` rules
// 5. Remove `hljs-` of all CSS class name. E.g : `hljs-.comment` becomes `.comment`
// 6. Comment line 61 (`'themes/tranquilpeak',`) of `source/_css/tranquilpeak.scss` file
// 7. Run `grunt buildProd` to build the theme and see the result

// Default code block
pre > code {
    background: #23241f;
    color: #f8f8f2;
}

// Default inline code
code {
    background-color: #a6e22e;
}

// Tabbed code block tab
// If your theme is dark then use a lighter background
// to see clearly which tab is active
.codeblock--tabbed figcaption .tab.active {
    background: #ddd;
    color: #d88;
}

// highlight code block
figure.highlight,
.codeblock {
    background: #979797;
    color: #333;

    figcaption {
        background: #d88;
        color: #d2d2d2;
    }
    .gutter {
        background: rgb(184, 53, 33);
        border-right-color: #303030;
        .line {
            color:  #303030;
        }
    }
    // PUT YOUR THEME HERE

}


/*
Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
*/



.tag,
.subst {
  color: #f8f8f2;
}

.strong,
.emphasis {
  color: #a8a8a2;
}

.bullet,
.quote,
.number,
.regexp,
.literal,
.link {
  color: #ae81ff;
}

.code,
.title,
.section,
.selector-class {
  color: #a6e22e;
}

.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}

.keyword,
.selector-tag,
.name,
.attr {
  color: #f92672;
}

.symbol,
.attribute {
  color: #66d9ef;
}

.params,
.title.class_,
.class .title {
  color: #f8f8f2;
}

.string,
.type,
.built_in,
.selector-id,
.selector-attr,
.selector-pseudo,
.addition,
.variable,
.template-variable {
  color: #e6db74;
}

.comment,
.deletion,
.meta {
  color: #75715e;
}